asgiref==3.8.1
Django==5.1.2
django-allauth==65.1.0
django-allauth-ui==1.5.0
django-widget-tweaks==1.5.0
pillow==11.0.0
PyYAML==6.0.2
slippers==0.6.2
sqlparse==0.5.1
typeguard==2.13.3
typing_extensions==4.12.2
