{% extends "serviceapp/base.html" %}
{% block head%}
{% endblock%}

{% block head_title%} SmartServe{% endblock%}

{% block body%}


<center class="card-deck">
  <div class="card d-flex flex-row my-3 w-50">
    <div class="w-50">
      <img
        class="card-img-top"
        src="{{ service.img.url }}"
        alt="Card image cap"
      />
    </div>
    <div class="w-50 d-flex flex-column">
      <h5 class="card-title">Username: {{ user.serviceprovider.username }}</h5>
      <h4 class="card-title">Service Type: {{ service.service_type }}</h4>
      <p class="card-text">Bio: {{ service.bio }}</p>
      <small class="text-muted">Price: {{ service.price }}</small>
    </div>
  </div>
</center>

<div class="mx-4">
  <h5>Enter your details</h5>
    <form action = "/serviceproviders/book-service/{{id}}/" method = "post">
        {% csrf_token %}

        <input class="form-control form-control my-3" type="text" name="customer_name" placeholder="Customer name" aria-label=".fotm-control example" required>
        
        <label for="service_time">Choose a time for Service:</label>
        <input class="form-control form-control mb-3"
          type="datetime-local"
          name="service_time"
          min="2024-10-29T00:00"
          max="2999-10-29T00:00"/>
        <input class="form-control form-control my-3" type="text" name="address"  placeholder="Address" aria-label=".fotm-control example">
        <input class="form-control form-control my-3" type="text" name="city"  placeholder="City" aria-label=".fotm-control example">
        <input class="form-control form-control my-3" type="text" name="zip_code"  placeholder="Zip Code" aria-label=".fotm-control example">
    
        <div class="input-group text-center my-3">
          <input type="number" class="form-control text-center" placeholder="Latitude"  name="latitude" id="latitude-input" readonly required>
          <input type="number" class="form-control text-center" placeholder="Longitude" name="longitude" id="longitude-input" readonly required>
          <button class="btn btn-primary text-center w-25" type="button" id="updatelocation" onclick="loadlocation();">Load Location</button>
        </div>
        <div class="d-grid my-5 col-6 mx-auto">
          <button class="btn btn-primary py-2" type="submit">Book a Service</button>
        </div>
     </form>
</div>

{% endblock %}

 {% block body_extra %}
<script>
const latitude_input = document.querySelector("#latitude-input")
const longitude_input = document.querySelector("#longitude-input")

function loadlocation(){
  latitude_input.value = null;
  longitude_input.value = null;
  navigator.geolocation.getCurrentPosition((position) => {
    latitude_input.value = position.coords.latitude;
    longitude_input.value = position.coords.longitude;
  })
};

</script>
{% endblock %}