{% extends "serviceapp/base.html" %}
{% block head%}
{% endblock%}

{% block head_title%} SmartServe{% endblock%}

{% block body%}

<div class="row m-4">
    <h2 class="mt-4">Dashboard</h2>
    <div class="col-sm-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total orders</h5>
          <p class="card-text">{{orders.count}}</p>
          <a href="/serviceproviders/providerhistory/ " class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0 gap-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Active orders</h5>
          <p class="card-text">{{active_orders.count}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Completed orders</h5>
          <p class="card-text">{{complete_orders.count}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cancelled orders</h5>
            <p class="card-text">{{cancelled_orders.count}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>

{% endblock%}