{% extends "serviceapp/base.html" %}
{% block head%}
{% endblock%}

{% block head_title%} SmartServe{% endblock%}

{% block body%}

{% url 'serviceapp:profile' as profile_url %}

{% if user.is_profile_complete is not True %}
    {% if profile_url %}
        Update your profile
        <a href="{{ profile_url }}">Your Profile</a>
    {% endif %}

    <center class="countainer gap-5">
        <a href=""><button type="button" class="btn btn-primary w-25">Search Services</button></a>
        <a href=""><button type="button" class="btn btn-primary w-25">Become a Service Provider</button></a>
    </center>
{% endif %}

{% endblock%}