{% extends "serviceapp/base.html" %}
{% block head%}
{% endblock%}

{% block head_title%} SmartServe{% endblock%}

{% block body%}

{% url 'serviceapp:profile' as profile_url %}

{% if not user.first_name or not user.last_name %}
Complete Your Profile 
    {% if profile_url %}
        <a href="{{ profile_url }}">Here</a>
    {% endif %}
{% endif %}

{% url 'serviceproviderapp:serviceproviderhome' as serviceproviderhome_url %}

<center class="countainer gap-5">
    <a href=""><button type="button" class="btn btn-primary w-25">Search Services</button></a>
</center>

{% endblock%}