{% extends "serviceapp/base.html" %}
{% block head%}
{% endblock%}

{% block head_title%} SmartServe{% endblock%}

{% block body%}

{{user.profile.is_profile_complete}}


    <div class="mx-4 ">
        <h1>Profile</h1>
    <center>
        <img src="{{user.profile_picture.url}}" alt="" srcset="" width="250" height="250">
    </center>

    <form action = "/updateProfile/profile_picture/" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control form-control my-3" type="file" name="profile_picture" placeholder="Upload a Profile Picture" aria-label=".fotm-control example" required> 
        <button type="submit" class="btn btn-primary">Update Profile Picture</button>
     </form>

    <form action = "/updateProfile/first_name/" method = "post">
        {% csrf_token %}
        <input class="form-control form-control my-3" type="text" name="first_name" placeholder="First Name" aria-label=".fotm-control example" required>
        <button type="submit" class="btn btn-primary">Update First Name</button>
     </form>

     <form action = "/updateProfile/last_name/" method = "post">
        {% csrf_token %}
        <input class="form-control form-control my-3" type="text" name="last_name" placeholder="Last Name" aria-label=".fotm-control example" required>
        <button type="submit" class="btn btn-primary">Update Last Name</button>
     </form>

     {% if user.is_service_provider %}
      <form action = "/serviceproviders/accountmode/delete_service/" method = "post">
         {% csrf_token %}
         <input class="form-control form-control my-3" type="password" name="password" required>
         <button type="submit" class="btn btn-danger">Delete Service Provider Account</button>
      </form>
      {% else %}
      <form action = "/serviceproviders/accountmode/become_provider/" method = "post">
         {% csrf_token %}
         <input class="form-control form-control my-3" type="password" value="" name="password" required>
         <button type="submit" class="btn btn-success">Become Service Provider</button>
      </form>
      {% endif %}
   
    </div>
   
    

    

{% endblock%}
