{% extends "serviceapp/base.html" %}
{% block head%}
{% endblock%}

{% block head_title%} SmartServe{% endblock%}

{% block body%}


<center>
    <h1>Update Profile</h1>

    {% if submitted %}
        Your Profile Updated Successfully !!!
    {% else %}
        <form action = "" method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    {% endif %}

    
</center>

{% endblock%}
